[Unit]
Description=Yet another SKK Japanese input method dictionary server
After=yaskkserv.socket
Requires=yaskkserv.socket

[Service]
User=nobody
ExecStart=/usr/bin/yaskkserv_hairy --no-daemonize --server-completion-test=1 --google-japanese-input=notfound-input-suggest --google-suggest /usr/share/skk/SKK-JISYO.L.yaskkserv

[Install]
WantedBy=multi-user.target
